<div class="uk-position-relative uk-height-viewport uk-visible@m">

<img style="display: none;" src="{{ asset('images/photo-b.png') }}" alt="" id="owo">

  <div class="uk-position-top-right tr-1 uk-background-cover" uk-parallax="bgy: 200" style="background-image: url(images/shot@2x.png);">
    <div class="light-overlay"></div>
  </div>

  <div class="uk-position-bottom-right tf-2 uk-background-cover" id="first-cover" style="background-image: url(images/photo-b.png);">
    <div class="light-overlay"></div>
  </div>


  <div uk-parallax="y: 130; easing: 0.5" class="uk-position-bottom-right tr-2 uk-background-cover card dark" style="background-image: url(https://cdn.dribbble.com/users/1163703/screenshots/3559960/akvaryumgif.gif);">

    <div class="dark-overlay">
      <div class="uk-position-bottom-left">
        <div class="uk-padding">
             <div>
               <p class="tag">E-commerce</p>
               <h4 class="title">Tooplay</h4>
             </div>
        </div>
      </div>

      <div class="uk-position-top-left">
        <div class="uk-padding">
          <div>
            <p class="number">03</p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div uk-parallax="y: 80; easing: 0.8" class="uk-position-bottom-right tr-3 uk-background-cover card light">
        <div class="uk-position-bottom-left">
          <div class="uk-padding">
               <div>
                 <p class="tag">Desarrollo Web</p>
                 <h4 class="title">CGV</h4>
               </div>
          </div>
        </div>

        <div class="uk-position-top-left">
          <div class="uk-padding">
            <div>
              <p class="number">02</p>
            </div>
          </div>
        </div>

  </div>

    <div uk-parallax="y: 140; easing: 0.6" class="uk-position-bottom-left tf-1 uk-background-cover card dark" style="background-image: url(https://cdn.dribbble.com/users/616099/screenshots/2583632/dribbbleilloanimation.gif);">

      <div class="dark-overlay">
        <div class="uk-position-bottom-left">
          <div class="uk-padding">
               <div>
                 <p class="tag">E-commerce</p>
                 <h4 class="title">Arte Impreso</h4>
               </div>
          </div>
        </div>

        <div class="uk-position-top-left">
          <div class="uk-padding">
            <div>
              <p class="number">01</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    {#<div class="uk-position-bottom-left uk-padding">
      <div class="circle-icon">
        <a href=""><span class="uk-icon" uk-icon="icon: arrow-down"></span></a>
      </div>
    </div>#}

    <div class="uk-position-top-left main-title">
      <h2 id="title-heading">
        <span>Es momento</span> <br>
         <span>de innovar</span>
      </h2>
    </div>

      {% include "frontend/components/navbar.html.twig" %}

</div>

<div class="uk-hidden@m">
  {% include "frontend/components/navbar.html.twig" %}

<div class="">
  <div class="uk-container tm-container-medium ">

    <div class="uk-text-left">
      <h1 class=" uk-margin-remove">Sayrin</h1>
      <p class="uk-text-lead uk-margin-small-top uk-margin-large-bottom">
        Déjanos tus ideas en nuestras manos.
      </p>
    </div>

    <div class="uk-text-center uk-margin-medium-bottom">
      <img uk-img src="https://cdn.dribbble.com/users/1519660/screenshots/4871565/autumnrelaxation_v6.gif" alt="">
    </div>
  </div>
</div>

</div>
