<div class="uk-section background-muted uk-section-large">
  <div class="uk-container  tm-container-medium">
    <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid="uk-grid">
      <div class="uk-width-auto@m">
        <div>
          <h1 class="theme-dark uk-margin-remove">Qué hay de nuevo?</h1>
          <h1 class="theme-muted uk-margin-remove">Nuestro blog y noticias</h1>
        </div>
      </div>

      <div class="uk-width-expand@m">
        <div>
          <a class="blog-news-entry uk-flex uk-flex-middle uk-margin" href="">
            <div class="date">Aug 07
              <span class="uk-icon" uk-icon="icon: minus; ratio: 0.5;"></span>
              Noticias</div>
            <h1 class="uk-margin-remove">Lanzamos nuestro sitio web</h1>
            <div class="link uk-visible@s">
              <span class="button-style-a uk-button uk-button-text uk-button-large" href="https://getuikit.com">
                <span class="uk-icon" uk-icon="icon: minus;"></span>
                Leer más</span>
            </div>
          </a>
          <a class="blog-news-entry uk-flex uk-flex-middle uk-margin" href="">
            <div class="date">Aug 05
              <span class="uk-icon" uk-icon="icon: minus; ratio: 0.5;"></span>
              Blog</div>
            <h1 class="uk-margin-remove">Estimado Sayrin: ¿Qué framework usan?</h1>
            <div class="link uk-visible@s">
              <span class="button-style-a uk-button uk-button-text uk-button-large" href="https://getuikit.com">
                <span class="uk-icon" uk-icon="icon: minus;"></span>
                Leer más</span>
            </div>
          </a>
          <a class="blog-news-entry uk-flex uk-flex-middle uk-margin" href="">
            <div class="date">Aug 02
              <span class="uk-icon" uk-icon="icon: minus; ratio: 0.5;"></span>
              Blog</div>
            <h1 class="uk-margin-remove">¿Cómo recibir inspiración?</h1>
            <div class="link uk-visible@s">
              <span class="button-style-a uk-button uk-button-text uk-button-large" href="https://getuikit.com">
                <span class="uk-icon" uk-icon="icon: minus;"></span>
                Leer más</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
