<div class="uk-section uk-section-large">
  <div class="uk-container tm-container-medium">

  <h1 class="uk-text-center uk-margin-remove">¿Cómo te podemos ayudar?</h1>
  <p class="uk-text-lead uk-text-center uk-margin-small-top uk-margin-large-bottom">Tenemos todas las herramientas para crear productos digitales.</p>

    <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

       <div>
         <div class="uk-position-relative">
           <a href="" class="hover-down">
             <img id="service-item-a" uk-img src="{{ asset('images/design-a.jpg') }}" alt="">
                    </a>
                    <div class="overlay-show"></div>
         </div>
       </div>
       <div>
         <div class="uk-text-center uk-text-right@m">
             <div class="uk-inline uk-width-large uk-text-left@m">
               <div class="service-container">
                 <h1 class="title">Diseño</h1>
                 <h4 class="subtitle">Marca tendencia en la web</h4>
                 <p class="content-description uk-margin-medium">
                   Apasionados con la creación de interfaces limpias que reflejen tu identidad como empresa y persona. La innovación es lo primordial, por lo cual bocetamos, diseñamos e implementamos tu marca.
                 </p>
                 {#<a class="link-to uk-button uk-button-text uk-button-large" href="https://getuikit.com"> <span class="uk-icon" uk-icon="icon: minus;"></span> Leer más</a>#}
               </div>
             </div>
         </div>
       </div>

    </div>

    {# service-2 #}

    <div class="uk-child-width-1-2@m uk-grid-large uk-margin-large-top uk-text-center uk-flex uk-flex-middle uk-margin-large-top" uk-grid>

       <div>
         <div class="uk-position-relative">
           <a href="" class="hover-down"><img id="service-item-b" uk-img src="{{ asset('images/development-a.jpg') }}" alt=""></a>
           <div class="overlay-show-b"></div>
         </div>
       </div>
       <div class="uk-flex-first@m">
         <div class="uk-text-left@m">

              <div class="service-container uk-inline uk-width-large">
                <h1 class="title">Desarrollo</h1>
                <h4 class="subtitle">Optimizado y funcional</h4>
                <p class="content-description uk-margin-medium">
                  Desarrollamos tu producto con la mejor optimización y las características necesarias para que este tenga el mejor funcionamiento en el ambiente por el cual fue requerido.
                </p>
                {#   <a class="link-to uk-button uk-button-text uk-button-large" href="https://getuikit.com"> <span class="uk-icon" uk-icon="icon: minus;"></span> Leer más</a> #}

              </div>

         </div>
       </div>

    </div>

    {# service-3 #}

    <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

       <div>
         <div class="uk-position-relative">
           <a href="" class="hover-down"><img id="service-item-c" uk-img src="{{ asset('images/hosting-a.jpg') }}" alt=""></a>
<div class="overlay-show-c"></div>
         </div>
       </div>
       <div>
         <div class="uk-text-center uk-text-right@m">
             <div class="uk-inline uk-width-large uk-text-left@m">
               <div class="service-container">
                 <h1 class="title">Hosting</h1>
                 <h4 class="subtitle">Servidores Optimizados</h4>
                 <p class="content-description uk-margin-medium">
                   Servidores optimizados para tu producto digital con la mejor optimización y funcionamiento con el fin de obtener el mejor rendimiento en el área de producción.
                 </p>
              {#   <a class="link-to uk-button uk-button-text uk-button-large" href="https://getuikit.com"> <span class="uk-icon" uk-icon="icon: minus;"></span> Leer más</a> #}

               </div>
             </div>
         </div>
       </div>

    </div>

    {# service-4 #}

    <div class="uk-child-width-1-2@m uk-grid-large uk-margin-large-top uk-text-center uk-flex uk-flex-middle uk-margin-large-top" uk-grid>

       <div>
         <div class="uk-position-relative">
           <a href="" class="hover-down">
           <img id="service-item-d" uk-img src="{{ asset('images/photography-a.jpg') }}" alt="">
           <div class="product-description">
             <h4>AFE</h4>
             <p>Fotografía de productos</p>
           </div>
           </a>
           <div class="overlay-show-d"></div>
         </div>
       </div>
       <div class="uk-flex-first@m">
         <div class="uk-text-left@m">

              <div class="service-container uk-inline uk-width-large">
                <h1 class="title">Fotografía</h1>
                <h4 class="subtitle">An Easy-to-use Collection of Widgets</h4>
                <p class="content-description uk-margin-medium">Widgetkit enhances your Wordpress and Joomla website with slideshows, galleries, accordions and much more. Load
                any content you want and place it in any position.</p>
                {#<a class="link-to uk-button uk-button-text uk-button-large" href="https://getuikit.com"> <span class="uk-icon" uk-icon="icon: minus;"></span> Leer más</a>#}

              </div>

         </div>
       </div>

    </div>

    <hr class="uk-margin-xlarge">

  </div>

</div>
